<header>
    <div class="header__wrap">

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsa ex nesciunt autem, deserunt accusamus ea quod quia est provident blanditiis cumque cupiditate possimus quas, quibusdam dolorem repudiandae, sint sed?</p>

    </div>
</header>
