/*
██████   ██████  ███████ ████████  ██████
██   ██ ██    ██ ██         ██    ██
██████  ██    ██ ███████    ██    ██   ███
██      ██    ██      ██    ██    ██    ██
██       ██████  ███████    ██     ██████
*/


// Fix Scroll Vibrate
.fix-scroll-vibrate {
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
}


//====================================================
//  Display
//====================================================

.hidden       { display: none; }
.block        { display: block; }
.flex         { display: flex; }
.inline       { display: inline; }
.inline-block { display: inline-block; }
.inline-flex  { display: inline-flex; }

.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto   { overflow: auto; }


// Position
.pos-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pos-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pos-c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//====================================================
//  Text wrap
//====================================================

.pre       { white-space: pre; }
.nowrap    { white-space: nowrap; }

//====================================================
//  Scrolling
//====================================================

.scroll-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll-vertical {
  overflow-x: hidden;
  overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

//====================================================
//  Textareas
//====================================================

.resize-none       { resize: none; }
.resize-vertical   { resize: vertical; }
.resize-horizontal { resize: horizontal; }

//====================================================
//  Misc.
//====================================================

.no-pointer-events {
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}


// ====================================================
//   Depth
// ====================================================

.depth-0  { z-index:   -1; }
.depth-1  { z-index:  100; }
.depth-2  { z-index:  200; }
.depth-3  { z-index:  300; }
.depth-4  { z-index:  400; }
.depth-5  { z-index:  500; }
.depth-6  { z-index:  600; }
.depth-7  { z-index:  700; }
.depth-8  { z-index:  800; }
.depth-9  { z-index:  900; }
.depth-10 { z-index: 1000; }

//====================================================
//  Clearfix
//====================================================

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}



// Animation
@keyframes displayNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes displayBlock {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}
