{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Index" %}

{# Dop Class #}
{% set htmlClass = "htmlClass" %}
{% set bodyClass = "bodyClass" %}


{% block content %}
    {% include "header/header.njk" %}
{% endblock %}
